<h1>NASA BIBLIOTEKICA</h1>
<!--
<% if (false) { %>
<form method="POST" action="/login">
    <h2>LOGIN</h2>
    <label>username:</label><br>
    <input type="text" name="username"><br>
    <label>password:</label><br>
    <input type="password" name="password"><br>
	<input type="submit" name="login" title="login"><br>
	<label>status: <% if(status) { %> Ulogovani ste <% } else { %> Niste ulogovani <% } %></label><br>
</form><br>
<% } else { %>
	<button action>View Profile</button>
<% } %> 
<form method="POST" action="/search">
	<h2>SEARCH</h2>
	<input type="radio" name="kriterijum" value="knjige" checked><label>knjige</label><br>
	<input type="radio" name="kriterijum" value="pisci"><label>pisci</label><br>
	<input type="radio" name="kriterijum" value="biblioteke"><label>biblioteke</label><br>
	<input type="radio" name="kriterijum" value="korisnici"><label>korisnici</label><br>
    <input type="text" name="value"><br>
    <input type="submit" name="search" title="search">
</form>-->

<!--
<% if(kriterijum === 'knjige') { %> 
	<h3>knjige:</h3>
	<ul>
		<% array.forEach(function(knjiga) { %> 
			<li><%= knjiga.naziv %></li> 
		<% }) %>
	</ul>
<% } %>
<% if(kriterijum === 'pisci') { %>
	<h3>pisci:</h3>
	<ul>
		<% array.forEach(function(pisac) { %>
			<li><%= pisac.ime %> <%= pisac.prezime %></li> 
		<% }) %>6
	</ul>
<% } %>
<% if(kriterijum === 'biblioteke') { %>
	<h3>biblioteke:</h3>
	<ul>
		<% array.forEach(function(bibl) { %>
			<li><%= bibl.ime %></li> 
		<% }) %>
	</ul>
<% } %>
<% if(kriterijum === 'korisnici') { %>
	<h3>korisnici:</h3>
	<ul>
		<% array.forEach(function(user) { %>
			<li><%= user.ime %></li> 
		<% }) %>
	</ul>
<% } %>
-->
